* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #333;
}
input {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
    display: flex;
}
.category-wrapper {
    width: 35%;
    background-color: #3c3c3c;
    padding-right: 5px;
    position: relative;
}
.categories {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 8px;
}
.categories:hover {
    overflow-y: auto;
}
.categories::-webkit-scrollbar {
    width: 4px;
}
.categories::-webkit-scrollbar-track {
    background: transparent;
}
.categories::-webkit-scrollbar-thumb {
    background-color: #7dbdff;
    border-radius: 20%;
}

.categories li {
    list-style: none;
    position: relative;
}
.categories li .cat-item {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #7dbdff;
    padding: 10px 10px 10px 15px;
    margin-bottom: 5px;
    outline: none;
}
.categories li a:hover {
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.30);
}
.categories li a.active-cat {
    color: #fff;
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.30);
}
.update-cat {
    font-size: 16px;
    position: absolute;
    width: 70%;
    top: 5px;
    left: 10px;
    padding: 5px;
    background-color: #3c3c3c;
    color: #fff;
    border: none;
    z-index: 2;
}
.update-cat:focus {
    outline: none;
}

.categories .cat-edit,
.categories .cat-delete {
    display: none;
    position: absolute;
    z-index: 2;
}
.categories .cat-edit {
    right: 30px;
    top: 3px;
}
.categories .cat-delete {
    right: 5px;
    top: 3px;
}

.categories .cat-delete:hover,
.categories .cat-edit:hover {
    display: block;
    background-color: #444444;
    box-shadow: 2px 1px 25px rgba(0, 0, 0, 0.80);
}
.categories li:hover .cat-edit,
.categories li:hover .cat-delete {
    display: block;
    padding: 5px;
}

/* list */
.list-wrapper {
    position: relative;
    width: 65%;
    padding: 15px;
}

.brand h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%, -50%);
    z-index: -1;
    color: #ececec;
}
.brand .brand-detail {
    position: absolute;
    bottom: 15px;
    font-size: 16px;
    z-index: -1;
    color: #bfbfbf;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}
.brand .brand-detail span {
    padding-left: 5px;
}

.list-title {
    font-size: 22px;
    color: #7dbdff;
    padding: 8px;
    margin-bottom: 20px;
}

/* add list button */
.list-wrapper .add-list-btn {
    display: block;
    padding: 6px;
    background-color: rgba(30, 44, 212, 0.55);
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 50px;
    z-index: 3;
}
.list-wrapper .add-list-btn:hover {
    background-color: rgba(30, 44, 212, 0.65);
}

/* add list input */
.input-wrap {
    max-width: 85%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 10px;
    left: 10px;
    right: 40px;
    z-index: 2;
}
.add-list-form {
    width: 100%;
}
.add-list-input {
    width: 100%;
    font-size: 14px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #bbbaba;
}
.add-list-input:focus,
.add-list-input:active {
    border: 1px solid #7dbdff;
    outline: none;
}

/* list item */
.lists-wrap {
    padding: 20px 20px 0;
}
.lists-wrap li {
    list-style: none;
    margin-bottom: 10px;
    position: relative;
}
.lists-wrap li .list-item {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    color: #333;
}
.lists-wrap li .list-item:hover {
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
}

.list-option {
    display: none;
    position: absolute;
    top: 3px;
    right: 0;
    z-index: 3;
}
.lists-wrap li:hover .list-option {
    display: flex;
}

.list-edit,
.list-delete {
    display: block;
    padding: 5px;
}
.list-edit:hover,
.list-delete:hover {
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.30);
}

.update-listform {
    width: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
}
.update-list {
    width: 100%;
    font-size: 14px;
    padding: 5px;
    border: none;
}
.update-list:focus {
    outline: none;
}
